{% extends "layout.jinja2" %}

{% block body %}
    <main>
        <article id="bios">
            <section class="row">
                <img class="col-sm-3" src={{ request.static_url('octojobs:static/images/colin.jpg') }}/>
                <img class="col-sm-3" src={{ request.static_url('octojobs:static/images/claire.jpg') }}/>
                <img class="col-sm-3" src={{ request.static_url('octojobs:static/images/marc.jpg') }}/>
                <img class="col-sm-3" src={{ request.static_url('octojobs:static/images/rachael.jpg') }}/>
            </section>
            <section class="row"
                <p class="col-sm-3">Loaded to the gunwalls gibbet bucko dead men tell no tales pressgang grapple careen Sail ho gally bilged on her anchor run a shot across the bow doubloon log gunwalls pillage. Maroon sloop heave to careen boom handsomely Blimey port sheet skysail shrouds aye Sail ho ye blow the man down.</p> 
                <p class="col-sm-3">Loaded to the gunwalls gibbet bucko dead men tell no tales pressgang grapple careen Sail ho gally bilged on her anchor run a shot across the bow doubloon log gunwalls pillage. Maroon sloop heave to careen boom handsomely Blimey port sheet skysail shrouds aye Sail ho ye blow the man down.</p> 
                <p class="col-sm-3">Loaded to the gunwalls gibbet bucko dead men tell no tales pressgang grapple careen Sail ho gally bilged on her anchor run a shot across the bow doubloon log gunwalls pillage. Maroon sloop heave to careen boom handsomely Blimey port sheet skysail shrouds aye Sail ho ye blow the man down.</p>  
                <p class="col-sm-3">Loaded to the gunwalls gibbet bucko dead men tell no tales pressgang grapple careen Sail ho gally bilged on her anchor run a shot across the bow doubloon log gunwalls pillage. Maroon sloop heave to careen boom handsomely Blimey port sheet skysail shrouds aye Sail ho ye blow the man down.</p>  
            </section> 
        </article>
    </main>
{% endblock %}