{% extends "layout.jinja2" %}

{% block body %}
    <main>
    <hr>
        <article id="bios">
            <section class="row">
                <img class="col-sm-3" src="{{request.static_url('octojobs:static/images/colin.jpg')}}"/>
                <img class="col-sm-3" src="{{request.static_url('octojobs:static/images/claire-pic_480.jpg')}}"/>
                <img class="col-sm-3" src="{{ request.static_url('octojobs:static/images/rachael.jpg')}}"/>
                <img class="col-sm-3" src="{{request.static_url('octojobs:static/images/marc.jpg')}}"/>
            </section>
            <hr>
            <section class="row">
                <p class="col-sm-3">I moved to Seattle over 20 years ago, and started working in high-tech startups in marketing, product management, and business development roles. I've conceived of, launched, and marketed B2B and B2C products for most of my career. But now I want more control to build my own applications. I love working on logic and back-end code, and happy to combine these pursuits through Python.</p> 
                <p class="col-sm-3">I am a born and bred Australian who made the wild decision to quit my job and move to Seattle where I am learning how to code. I dream of using my past life as a scientist and my new skills as a developer to move into bioinformatics. I love cats, staying active, travelling, the outdoors and taking photos.</p> 
                <p class="col-sm-3">I'm an attorney turned dev who fled the world of case histories and legal memoranda in order to try my hand at coding. I love working with data and building things, and am excited that I get to build a career where I get to do both. I also love dogs, hiking, and really bad monster movies.</p>  
                <p class="col-sm-3">Originally from Germany, now splitting my time between sunny Palm Springs, California and beautiful Seattle, Washington after having lived in the big apple for 5 years where I worked for a financial instituation. After having had a career in the Equities Department of a financial institution, I am now looking to not only start a new career in software development but work on coding projects that I'm passionate about. In my spare time I enjoy playing any board game that is not based primarily on luck and to counter sitting most of the day, I play Pickleball, the fastet growing sport in the States.</p>  
            </section> 
        </article>
    </main>
{% endblock %}