{% extends "layout.jinja2" %}

{% block body %}
    <section class="jumbotron">
        <section id="searchbar" class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <form method="POST">
                        <input type="text" class="form-control" name="searchbar" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                    </form>
                </div>
            </div>
        </section>
        </section>
            {% if results %}
            <section id="results" class="col-lg-6 col-lg-offset-3">
                {{ results.title }}
                {{ results.city }}
                {{ results.description }}
            </section>
            {% endif %}
    </section>
{% endblock %}
