<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{request.static_url('octojobs:static/pyramid-16x16.png')}}">

    <title>Octojobs</title>
    <!-- Custom styles for this scaffold -->

    <!-- Bootstrap core CSS -->
    <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{request.static_url('octojobs:static/css/base.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="container">

    <div class="outer-color">

      <section class="inner-white">

          <header class="row">
              <h1><a href={{ request.route_url('home') }}>OctoJobs</a></h1>
              <section class="header-container">
              </section>
              <nav>
                <ul id="ul_nav">
                    <h3 id="about"><a href={{ request.route_url('about') }}>About</a></h3>
              </nav>
          </header>
          
          <main>
            {% block body %}
            {% endblock %}
          </main>

      </section>
        
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
    {% endblock %}
    <script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
